.label{
    -fx-text-fill: white; /* Задаем цвет текста (в данном случае красный) */
    -fx-background-color: #8a8cee; /* Задаем цвет фона (в данном случае желтый) */
    -fx-background-radius: 5px;
    -fx-alignment: center;
}