// Background color of the whole context menu
.choice-box .context-menu {
-fx-background-color: #52548e;
}
// Focused item background color in the list
.choice-box .menu-item:focused { -fx-background-color: #a1a3f1; }
// Text color of non-focused items in the list
.choice-box .menu-item > .label {
-fx-text-fill: white;
-fx-font-size: 14px;
}
// Text color of focused item in the list
.choice-box .menu-item:focused > .label { -fx-text-fill: white; }

// Background color of the control itself
.choice-box {
  -fx-background-color: #8a8cee;
  // arrow color
  -fx-mark-color: white;
}


// Selected item text color on the control itself
.choice-box > .label {
-fx-text-fill: white;
-fx-font-size: 14px;
-fx-alignment: center;
}